<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
.loginButton{
	display: inline-block;
    text-align: center;
    vertical-align: middle;
	margin:15px;
}
.loginButtonImage{
}
.loginButtonImage:hover{
}
</style>
</head>

<body>
<div style="background-image:url(../images/index.jpg); width:1024px; height:670px; margin:auto; margin-top:0"><div style="position:relative;top:540px;left:325px; width:600px"><div class="loginButton"><a href="#"><img class="loginButtonImage" src="../images/signin.png"/></a></div><div class="loginButton"><a href="#"><img class="loginButtonImage" src="../images/facesignin.png"/></a></div><div class="loginButton"><a href="#"><img class="loginButtonImage" src="../images/signup1.png" /></a></div></div></div>
</body>
</html>
